@page "/getintouch"
@*buraya @page "/blabla"  diye bir route tanımlasaydık route contact yerine blabla olurdu*@

<div class="text-center my-5">
	<div class="display-6 border-bottom">Contact</div>
	<div class="lead mt-5">
		<i class="fa fa-phone bg-secondary text-white p-3 rounded my-3"></i>
		<p>
			ALO 199 E-ticaret bilgi ve destek hattı
		</p>

		<i class="fa-solid fa-address-book bg-secondary text-white p-3 rounded my-3"></i>
		<p>
			Üniversite mah. Gazi Caddesi girişi
			NO: 19, Posta Kodu: 03223 Elazığ/Merkez
		</p>

		<i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded my-3"></i>
		<p>
			StoreAppDestek@gmail.com
		</p>
	</div>
</div>