<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StoreApp - @ViewData["Title"]</title>
    <link rel="stylesheet" asp-asp-append-version="true" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-asp-append-version="true" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" asp-asp-append-version="true" href="~/StoreApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" asp-asp-append-version="true" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
</head>
<body>
    <header>
        <partial name="_navbar" />
        @RenderSection("Header",false)
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        @RenderSection("Footer",false)
        <partial name="_Footer" />
    </footer>
    <script asp-asp-append-version="true" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script asp-asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script asp-asp-append-version="true" src="~/js/site.js" asp-append-version="true"></script>
    <script asp-asp-append-version="true" src="~/lib/font-awesome/js/all.js/all.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
