<nav class="navbar navbar-expand-lg bg-black">
	<div class="container">
		<a class="navbar-brand text-white" href="/">Admin</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
				<rect width="30" height="5" fill="#ff0000"></rect>
				<rect y="12" width="30" height="5" fill="#ff0000"></rect>
				<rect y="24" width="30" height="5" fill="#ff0000"></rect>
			</svg>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNav">

			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<a class="nav-link text-white" aria-current="page" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" aria-current="page" asp-controller="Product" asp-action="Index">Products(@await Component.InvokeAsync("ProductSummary"))</a>@*Componenti bu şekilde kullanabiliriz*@
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" aria-current="page" asp-controller="Category" asp-action="Index">Category</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white" aria-current="page" asp-controller="Order" asp-action="Index">Orders</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" aria-current="page" asp-controller="Role" asp-action="Index">Roles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" aria-current="page" asp-controller="User" asp-action="Index">Users</a>
				</li>

			</ul>

			<ul class="navbar-nav">
				<a class="nav-link text-white" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Web</a>
			</ul>
		</div>
	</div>
</nav>