@model IEnumerable<Category>

<div class="my-4">
	<ul class="list-group">
		@foreach (var cat in Model)
		{
			
				<a asp-action="Index" asp-route-categoryId="@cat.CategoryId"  class="btn btn-primary mx-2 my-2">
					@cat.CategoryName
				</a>
			
		}
	</ul>
</div>